.main{
  background-color: #E8F5E9 ;
  padding: 10px;
}
.config{
  background-color: #1B5E20;
  padding: 5px;
  color: white;
  font-size: 25px;
  display: grid;
}
.text-display-1{
  font-size: 18px;
  color: #5D9B5D;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.select-color {
  background-color: transparent;
  text-align: center;
  border: 0;
  margin-left: 5px;
  margin-right: 5px;
}
input[type="radio"] {
  margin: 10px;
  
}
.checkbox-display{
  align-items: left;
  align-content: left;
  align-self: left;
  text-align: left;
}
.felgs-display{
  background-color: #9AEB9A;
}
.felgs-display-left{
  float: left;
  width: 50%;
  text-align: center;
  background-color: #9AEB9A;
  padding: 10px;
}
.felgs-display-right{
  float: right;
  width: 50%;
  text-align: center;
  background-color: #9AEB9A;
  padding: 10px;
}
.overall-display{
  text-align: right;
}
